.container.mt30
  .row
    .col-lg-6
      = image_tag 'blurry-slihouette.jpeg', class: 'places-pics'
    .col-lg-6
      .row
        .col-lg-8
          %h2.title-h2 A new candidate
          %p= @sissy.full_name
