.container.mt30
  %h2.title-h2 Inventory
  .row
    .col-lg-6
      %h5.title-h5 Weapons
      %ul.custom-list.custom-list-bold
        .row
          - @weapons.each do |weapon|
            .col-lg-6.mb30
              %li.card
                = image_tag "weapons/#{weapon.name.downcase.gsub(' ', '_')}.jpg"
                .card-content
                  %p= weapon.name

    .col-lg-6
      -# %ul.custom-list.custom-list-bold
      -#   - @drugs.each do |drug|
      -#     %li
      -#       %p= drug.name

  .row
    .col-lg-6
      = link_to 'Back', :back, class: 'button-primary-outline button-md'
