- %i(notice error alert).each do |value|
  - if flash[value]
    .container
      .custom-notif.alert.in{ class: value }
        .row
          .col.text-center
            %button.close{type: "button", data: {dismiss: "alert"}} &times;
            = raw flash[value]
