- %i(notice error alert).each do |value|
  - if flash[value]
    .container
      #flash.alert.in{ class: bootstrap_alert_class(value) + ' custom-notif'}
        .row
          .col.text-center
            %button.close{type: "button", data: {dismiss: "alert"}} &times;
            = raw flash[value]
