#main-nav
  .row.justify-content-between
    .col-auto
      .logo
        = link_to root_path do
          = image_tag 'logo_factory.png'
    .col
      .nav-links
        - unless current_user
          = link_to 'Sign in', new_user_session_path, class: 'button-primary button-sm'
          = link_to 'Sign up', new_user_registration_path, class: 'button-primary button-sm'
