.container.mt30
  .row
    .col-lg-6
      = image_tag "sex/anal#{rand(1..3)}.gif"
    .col-lg-6
      .row
        .col-lg-8
          %h2.title-h2 Fun time !
          = link_to 'Back', player_sissy_path(@player, @sissy), class: 'button-primary-outline button-md'
