$primary:	#ff0065;
$primary-light:#fb5858;
$secondary:#FFF587;
$secondary-light:#FFF8A9;
$tertiary:#1F2D2B;
$tertiary-light:#354A48;
$smoke:#8A9A98;
$smoke-light:#A8B2AF;

$darker-grey:#363636;
$dark-grey:#818181;
$grey:#A9A9A9;
$light-grey:#E5E5E5;
$lighter-grey:#DCE1DF;
$lighter-grey2:#F5F8F7;
$lighter-grey3:#F6F6F6;

$bg-grey:#e5e5e5;
$bg-light-grey:#ededed;
$bg-lighter-grey:#f7f7f7;
