////////////////////////
// Buttons
////////////////////////
[class*=button-]{
  outline:none !important; border:none;
  &.paddings{padding-left:50px; padding-right:50px;}
}

.button-primary{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:white !important; max-width:100%; display:inline-block; text-decoration:none !important; background-color:$primary; transition:all .2s;
  &:hover{background-color:lighten($primary, 5%);}
}

.button-secondary{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:$darker-grey !important; max-width:100%; display:inline-block; text-decoration:none !important; background:$secondary; transition:all .2s;
  &:hover{background:lighten($secondary, 5%);}
}

.button-tertiary{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:white !important; max-width:100%; display:inline-block; text-decoration:none !important; background-color:$tertiary-light; transition:all .2s;
  &:hover{background-color:$primary;}
}

.button-primary-outline{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:$primary !important; max-width:100%; display:inline-block; text-decoration:none !important; box-shadow:0 0 0 1px $primary; transition:all .2s;
  &:hover{background-color:$primary; color:white !important;}
}

.button-tertiary-outline{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:$tertiary-light !important; max-width:100%; display:inline-block; text-decoration:none !important; box-shadow:0 0 0 1px $tertiary-light; transition:all .2s;
  &:hover{background-color:$tertiary-light; color:white !important;}
}

.button-grey{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:$dark-grey !important; max-width:100%; display:inline-block; text-decoration:none !important; background-color:rgba($smoke-light, .2); transition:all .2s;
  &:hover{background-color:$darker-grey; color:white !important;}
}

.button-dark-grey{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:white !important; max-width:100%; display:inline-block; text-decoration:none !important; background-color:$darker-grey; transition:all .2s;
  &:hover{background-color:white; color:$darker-grey !important;}
}

.button-grey-outline{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:$darker-grey !important; max-width:100%; display:inline-block; text-decoration:none !important; box-shadow:0 0 0 1px $bg-light-grey inset; transition:all .2s;
  &:hover{box-shadow:0 0 0 1px $darker-grey inset; background-color:$darker-grey; color:white !important;}
}

.button-grey-outline-primary{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:$darker-grey !important; max-width:100%; display:inline-block; text-decoration:none !important; box-shadow:0 0 0 1px $bg-light-grey inset; transition:all .2s;
  &:hover{box-shadow:0 0 0 1px $primary inset; background-color:$primary; color:white !important;}
}

.button-grey-outline-secondary{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:$darker-grey !important; max-width:100%; display:inline-block; text-decoration:none !important; box-shadow:0 0 0 1px $bg-light-grey inset; transition:all .2s;
  &:hover{box-shadow:0 0 0 1px $secondary inset; background-color:$secondary; color:$darker-grey !important;}
}

.button-white-stroke-1{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:white !important; max-width:100%; display:inline-block; text-decoration:none !important; box-shadow:0 0 0 1px white inset; transition:all .2s;
  &:hover{background:white; color:$darker-grey !important;}
}

.button-white-stroke-2{
  border-radius:40px; text-align:center; font-family:'Roboto'; font-weight:700; color:white !important; max-width:100%; display:inline-block; text-decoration:none !important; box-shadow:0 0 0 1px white inset; transition:all .2s;
  &:hover{background:$darker-grey; color:white !important; box-shadow:0 0 0 1px $darker-grey inset;}
}

.button-icon{
  display:inline-flex; align-items:center; min-width:0 !important;
  i{margin-right:10px;}
}

.button-lg{padding:14px 30px;  font-size:18px; line-height:26px; cursor:pointer;}
.button-md{padding:17px 30px;  font-size:16px; line-height:20px; cursor:pointer;}
.button-sm{padding:11px 25px;  font-size:14px; line-height:18px; cursor:pointer;}
.button-full{width:100%;}

// @include sm-down{
//   .button-lg{padding:14px 30px; font-size:18px; line-height:21px;}
//   .button-md{padding:13px 30px; font-size:15px; line-height:17px;}
//   .button-sm{padding:11px 25px; font-size:13px; line-height:17px;}
//
//   .button-alt-1{
//     &.button-lg{padding:12px 30px;}
//     &.button-md{padding:11px 30px;}
//     &.button-sm{padding:9px 25px;}
//   }
// }
