#main-nav {
  padding: 30px; background-color: $darker-grey;; box-shadow:0 1px 0 $bg-grey; position:fixed; top:0; left:0; width:100vw; z-index:1000;
  .logo{
    img{ height:40px; width:auto; margin-bottom:0; }
  }
}
