.container.mt30
  .row
    .col-lg-6
      = image_tag 'dark-streets.jpg', class: 'places-pics'
    .col-lg-6
      .row
        .col-lg-8
          %h2.title-h2 The streets
          %p Crowdy and dark city

      .row
        .col-lg-2
          %p Actions
        .col-lg-6
          = link_to 'Pick a victim', new_player_sissy_path(@player, location: 'streets')


      .row
        .col-lg-2
          %p Go to
        .col-lg-6.align-items-center
          %p= link_to 'Your house', player_houses_path(@player)
          %p= link_to 'The Black Market', player_black_markets_path(@player)
