.container.mt30
  .row
    .col-lg-6
      = image_tag 'factory.jpg', class: 'places-pics'
    .col-lg-6

      .row
        .col-lg-8
          %p= "You tie #{@sissy.firstname} to a post for two hours."

      .row
        .col-lg-6
          = link_to 'Continue', player_factories_path(@player), class: ''
