.container.mt30
  .row
    .col-lg-6
      = image_tag 'factory.jpg', class: 'places-pics'
    .col-lg-6
      .row
        .col-lg-8
          %h2.title-h2 Your Factory
          %p Here you can make lil sissies <3

          %ul.players-list.custom-list.custom-list-bold
            - @sissies.each do |sissy|
              %li.player-item
                .row
                  .col-lg-8
                    %span
                      = sissy.full_name
                    %span
                      = sissy.will
                  .col-lg-4
                    =link_to 'Bring to dungeon', player_factories_dungeons_path(@player, sissy: sissy.id)

      .row
        .col-lg-2
          %p Go to
        .col-lg-6
          = link_to 'Your home', player_houses_path(@player)
